/* General */
:root {
    --clr-primary: #008da9;
    --clr-primary-light: #79c8d8;
    --clr-primary-dark: #00829b;
    --clr-secondary: #6bb536;
    --clr-secondary-light: #7ec44e;

    --clr-neutral-100: #ffffff;
    --clr-neutral-200: #dbdbdb;
    --clr-neutral-500: #333333;
    --clr-neutral-900: #000000;

    --fw-light: 300;
    --fw-regular: 400;
    --fw-bold: 700;
    --fw-black: 900;

    --max-width: 950px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    height: auto;
    max-width: 100%;
}