/* Header */

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    padding: 1em 0;
    background: var(--clr-neutral-100);
    z-index: 1000;
}

.header .row {
    justify-content: space-between;
}

.logo,
.burger {
    display: flex;
    align-items: center;
}

.logo {
    width: 150px;
}

.navbar {
    display: none;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    top: 60px;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 1.2em;
    font-weight: 700;
    list-style-type: none;
    background: var(--clr-neutral-100);
}

.navbar.open {
    display: flex;
}

.navbar li {
    list-style: none;
}

.list-link {
    text-decoration: none;
    color: var(--clr-neutral-600);
    transition: color 100ms ease;
}

.list-link:hover {
    color: var(--clr-primary-dark)
}

.navbar__left,
.navbar__right {
    padding: 1em 7%;
}

.navbar__left {
    border-top: 1px solid var(--clr-neutral-300);
}

.navbar__left__item {
    padding: 1em 0;
    border-bottom: 1px solid var(--clr-neutral-300);
}

.navbar__left__item:last-child {
    border: 0;
}

.navbar__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--clr-neutral-300);
}

@media screen and (min-width: 800px) {

    .burger {
        display: none;
    }

    .logo {
        width: 300px;
    }

    .header .row {
        justify-content: flex-start;
        gap: 2em;
    }

    .navbar {
        position: relative;
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .navbar__left,
    .navbar__right {
        all: unset;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        gap: 1.75em;
    }

    .navbar__left__item {
        border: unset;
        padding: unset;
    }
}
