@import url("layout/header.css");
@import url("layout/section-intro.css");
@import url("layout/section-trusted.css");
@import url("layout/section-why-us.css");
@import url("layout/section-tour.css");
@import url("layout/section-issue-tracker.css");
@import url("layout/section-trial.css");
@import url("layout/footer.css");

/* Layout */
.container {
    width: 88%;
    max-width: var(--max-width);
    margin: 0 auto;
}

.container.container-inner {
    padding-top: 3.5em;
    padding-bottom: 3.5em;
}

.row {
    display: flex;
}

 main {
    margin-top: 60px;
}

@media screen and (min-width: 800px) {
    .container {
        width: 95%;
    }
}
