.justify-space-between {
    justify-content: space-between;
}

.fw-regular {
    font-weight: var(--fw-regular) !important;
}

.content-header .title {
    font-weight: var(--fw-bold);
    font-size: var(--font-size-l);
}

.content-header .subtitle {
    font-weight: var(--fw-light);
    font-size: var(--font-size-regular);
}

.content-header-lg .title {
    font-weight: var(--fw-black);
    font-size: var(--font-size-xxl);
}

.content-header-lg .subtitle {
    font-weight: var(--fw-light);
    font-size: var(--font-size-regular);
}

.content-header .title,
.content-header-lg .title {
    margin-bottom: .5em;
}