.footer .container > *:not(:last-child) {
    margin-bottom: 3.5rem;
}

.footer {
    background: var(--clr-primary-darker);
    text-align: center;
    color: var(--clr-neutral-500);
}

.footer__header__title {
    color: var(--clr-neutral-100);
}

.footer__header__social-media {
    background: url("../../assets/images/footer/social_icons_x2.png") no-repeat top;
    background-size: 300px auto;
    width: 172px;
    height: 42px;
    margin: 0 auto;
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer a:hover {
    color: var(--clr-neutral-100);
    text-decoration: underline;
}

.footer-links__link {
    padding: 0.5em;
    border-top: 1px solid var(--clr-neutral-550);
    border-bottom: 1px solid var(--clr-neutral-550);
    list-style: none;
    white-space: nowrap;
}

.copyright > *:not(:last-child) {
    margin-bottom: 1rem;
}

.copyright__logo {
    background: url("../../assets/images/footer/footer_logo_x2.png") no-repeat;
    background-size: 160px;
    width: 162px;
    height: 22px;
    margin: 0 auto;
}

@media screen and (min-width: 600px) {
    .footer__footer-links {
        display: flex;
        position: relative;
        gap: 1.25rem;
        justify-content: center;
    }

    .footer__footer-links::after {
        content: '';
        display: block;
        position: absolute;
        bottom: -31px;
        width: 100%;
        height: 1px;
        background: var(--clr-neutral-550);
    }

    .footer-links__link {
        padding: 0;
        border: unset;
    }
}