.trusted {
    background-color: var(--clr-neutral-200);
    color: var(--clr-neutral-600);
}

.trusted .container > *:not(:last-child),
.client-comment > *:not(:last-child) {
    margin-bottom: 3.5rem;
}

.trusted__title {
    font-weight: var(--fw-black);
    font-size: var(--font-size-xxl);
    text-align: center;
}

.highlight {
    position: relative;
    color: var(--clr-primary);
}

.highlight::before {
    content: "";
    position: absolute;
    background: url("../../assets/images/heading_blue_underline.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
    width: 100%;
    height: 100%;
    top: 15%;
}

.trusted__customers-logos {
    background: url("../../assets/images/test_management_customer_logos.png");
    background-repeat: no-repeat;
    background-size: 900px 126px;
    width: 150px;
    height: 126px;
    margin: 0 auto;
}

/* Comment */

.comment {
    position: relative;
    border: 1px solid var(--clr-neutral-250);
    border-radius: 20px;
    padding: 1.75em;
    background: var(--clr-neutral-100);
}

.comment::before {
    content: "";
    position: absolute;
    bottom: -45px;
    right: 25%;
    background: url("../../assets/images/speech.png");
    width: 40px;
    height: 50px;
    background-repeat: no-repeat;
    transform: rotate(270deg);
}

.comment__header {
    margin-bottom: 1em;
}

.comment__title {
    font-weight: var(--fw-bold);
    font-size: var(--font-size-l);
}

.comment__subtitle {
    font-style: italic;
    color: var(--clr-neutral-400);
}

.comment__message {
    font-weight: var(--fw-light);
    font-size: var(--font-size-regular);
}

.client-comment {
    position: relative;
    z-index: 1;
}

.cleint-photo {
    background: url("../../assets/images/client_photo_1_x2.png");
    background-repeat: no-repeat;
    background-size: 160px 180px;
    background-position: center bottom;
    border-radius: 50%;
    width: 160px;
    height: 180px;
    margin: 0 auto;
}

.cleint-photo::after {
    content: "";
    display: block;
    position: relative;
    top: 16px;
    z-index: -1;
    width: 160px;
    height: 160px;
    background: var(--clr-primary-dark);
    border-radius: 50%;
}

@media screen and (min-width: 500px) {
    .trusted__customers-logos {
        width: 355px;
    }
}

@media screen and (min-width: 800px) {

    .trusted__customers-logos {
        width: 696px;
        height: 60px;
    }

    .client-comment > *:not(:last-child) {
        margin-bottom: 0;
    }

    .comment::before {
        transform: unset;
        bottom: 25px;
        left: -40.1px;
    }

    .client-comment {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        gap: 3.5rem;
    }
}
