/* Spacing */
.why-us .container > *:not(:last-child) {
    margin-bottom: 2.5rem;
}

.why-us__reason-wrapper:not(:last-child) {
    margin-bottom: 1.25rem;
}

/**/
.why-us {
    color: var(--clr-neutral-600);
    text-align: center;
}

.why-us__reasons {
    position: relative;
    z-index: 1;
}

.reason-wrapper__icon {
    background: url("../../assets/images/testing_benefits_x2.png") no-repeat;
    background-size: 412px 157px;
    width: 160px;
    height: 160px;
    margin: 0 auto;
}

.reason-wrapper__icon::before {
    content: "";
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 130px;
    height: 130px;
    background: var(--clr-secondary);
    border-radius: 50%;
    z-index: -1;
}

#reason-first .reason-wrapper__icon {
    background-position: -8px center;
}

#reason-second .reason-wrapper__icon {
    background-position: -132px center;
}

#reason-third .reason-wrapper__icon {
    background-position: -259px center;
}

@media screen and (min-width: 500px) {

    .why-us__reason-wrapper {
        display: flex;
        gap: 2rem;
        align-items: center;
        text-align: left;
    }

    #reason-first .reason-wrapper__icon {
        background-position: -21px center;
    }

    #reason-second .reason-wrapper__icon {
        background-position: -145px center;
    }

    #reason-third .reason-wrapper__icon {
        background-position: -272px center;
    }
}

@media screen and (min-width: 800px) {
    .why-us__reasons {
        display: flex;
        gap: 2rem;
    }

    .why-us__reason-wrapper {
        flex-direction: column;
        gap: 1.25rem;
        text-align: center;
    }

    #reason-first .reason-wrapper__icon {
        background-position: -8px center;
    }

    #reason-second .reason-wrapper__icon {
        background-position: -132px center;
    }

    #reason-third .reason-wrapper__icon {
        background-position: -259px center;
    }
}
