.issue-tracker .container > *:not(:last-child) {
    margin-bottom: 2rem;
}

.issue-tracker {
    color: var(--clr-neutral-100);
    background: var(--clr-primary);
    text-align: center;
}

.issue-tracker__integrations {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    flex-wrap: wrap;
}

.issue-tracker__integrations > div {
    background: url("../../assets/images/icons/issue_tracker_logos_x2.png") no-repeat;
    background-size: 876px 777px;
    width: 161px;
    height: 77px;
}

/* Logos background positions */
.asana {
    background-position: -244px -586px !important;
}

.assembla {
    background-position: -243px 0 !important;
}

.axosoft {
    background-position: -482px 0 !important;
}

.azure {
    background-position: -480px -470px !important;
}

.backlog {
    background-position: -479px -692px !important;
}