.tour .container > *:not(:last-child) {
    margin-bottom: 1.5rem;
}

.tour {
    color: var(--clr-neutral-100);
    text-align: center;
    background: var(--clr-primary-darker);
}


@media screen and (min-width: 800px) {
    .tour {
        text-align: left;
    }

    .tour .container {
        display: flex;
        gap: 1.5rem;
    }

    .tour .btn {
        align-self: center;
    }
}