
.intro {
    position: relative;
    text-align: center;
    background: var(--clr-primary);
    color: var(--clr-neutral-100);
}

.intro .container {
    position: relative;
}

.intro__actions {
    justify-content: center;
    gap: 1em;
}

.intro__actions .btn-play {
    display: none;
    position: relative;
}

.intro .container h1:first-child {
    padding: 1.2em 0 0 0;
}

.intro .container > * + * {
    margin-bottom: 2.5rem;
}

.intro .container > * + *:last-child,
.intro .container .intro__trial {
    margin-bottom: 0;
}

.intro__background-masks {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.mask {
    position: absolute;
    width: 260%;
    height: 125%;
    top: 10%;
    opacity: 0.1;
}

.intro__background-masks .left-mask,
.intro__background-masks .right-mask {
    background: var(--clr-primary-light);
}

.intro__background-masks .left-mask {
    transform: rotate(155deg);
    left: 0;
}

.intro__background-masks .right-mask {
    transform: rotate(25deg);
    right: 0;
}

.test-management-tool img {
    width: 850px;
}


@media screen and (min-width: 800px) {
    .intro__actions .btn-play {
        display: inline-block;
    }
}
